@import "~bootstrap/scss/bootstrap";

body {
  background: rgb(18, 31, 18);

    .wrapper-main { 
        .form-view {
            padding: 20px;
            margin: 60px auto 200px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            background: rgb(209, 255, 123);

            .was-validated .form-control:valid, .form-control.is-valid {   
                background-position: right calc(0.375em + 0.5rem) center;               
            }
        }

        .btn {
            color: rgb(209, 255, 123);
            background: rgb(119, 131, 12);
            border-color: rgb(18, 31, 18);

            &:hover {
                background: rgb(18, 31, 18);                
            }
        }
    }
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

